<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>37-动态组件-保持状态.html</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		button{
			width: 80px;
			height: 40px;
			margin-left: 20px;
		}
		li{
			list-style: none;
		}
		.active{
			color: red;
		}
		.articles-wrap{
			display: flex;
		}
	</style>
</head>
<body>
	<div id="app">
		<button 
			v-for="(tab,index) in tabs"
			@click="currentTab = tab"
		>
			{{tab}}
		</button>
		<!-- 切换组件时,为了保持组件的状态,以避免反复重渲染导致性能问题,可以用<keep-alive> 元素将动态组件包裹起来 -->
		<keep-alive>
			<component :is="currentComponent"></component>
		</keep-alive>
	</div>
	<template id="tab-home">
		<div>tab-home</div>	
	</template>
	<template id="tab-article">
		<div class="articles-wrap">
			<ul>
				<li
				v-for="(article,index) in articles"
				@click="selectedArticle = article"
				:class="{active:selectedArticle == article}"
				>
					{{article.title}}
				</li>
			</ul>
			 <div>
                <div v-if="selectedArticle">
                    {{selectedArticle.content}}
                </div>
            </div>
		</div>	
	</template>
	<template id="tab-list">
		<div>tab-list</div>	
	</template>
</body>
<script src="js/vue.js"></script>
<script>
	Vue.component('tab-home',{
		template:'#tab-home'
	})
	Vue.component('tab-article',{
		template:'#tab-article',
		data(){
			return{
				articles:[
					{
						title:'学习react',
						content:'react是比较好用的视图层框架'
					},
					{
						title:'学习vue',
						content:'vue是比较好用的视图层框架'
					}
				],
				selectedArticle:null
			}
		}
	})
	Vue.component('tab-list',{
		template:'#tab-list'
	})
	var vm = new Vue({
		el:'#app',
		data:{
			currentTab:'home',
			tabs:['home','article','list']
		},
		computed:{
			currentComponent(){
				return 'tab-'+this.currentTab
			}
		}
	})
</script>
</html>